/*
    Body
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* 
    The background color will be #cd9cd6 at 
    browser default widths. 
*/
body {
    background-color: #d9dcd6;
}

/* Navigation Menu */
.nav {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.nav h1 {
    display: inline-block;
    font-size: 48px;
}

.nav h1 .seo {
    color: #d9dcd6;
}

.nav div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.nav div ul {
    list-style-type: none;
}

.nav div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Main Horiseon Title Image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* 
    Section 1,2, & 3 Box Model
*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/* 
    Section 1: Search Engine Optimization 
    Section 2: Online Reputation Managment
    Section 3: Social Media Marketing
*/

.body-section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    }

.body-section img {
    max-height: 200px;
}

.body-section figcaption {
    margin-bottom: 20px;
    font-size: 36px;
}
    /* Positioning */ 
    .float-left {
        float: left;
        margin-right: 25px;
}

    /* Positioning Right */ 
        .float-right {
            float: right;
            margin-left: 25px;
}

    /* Positioning Left */ 
        .float-left {
            float: left;
            margin-right: 25px;
}

/* Sidebar Top, Middle, Bottom Box Model */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

 /*   
    Top: Lead Generation
    Middle: Brand Awareness
    Bottom: Cost Management
*/

.benefit-section{
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit-section h2{
    margin-bottom: 10px;
    text-align: center;
}

.benefit-section img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h3 {
    font-size: 20px;
}
